{% extends "::base.html.twig" %}

{% block title %}Tuition / Fee{% endblock %}

{% block header_container_wrap %}
    {{ parent() }}
    <div class="page-title">Tuition / Fee</div>
{% endblock %}

{% block content %}
    <p>Tuition fee is paid in local currency Kyrgyz Som. Tuition fee adjusted with US dollar / Kyrgyz Som exchange rate is given below.</p>
    <div class="h1">General Medicine M.D</div>
    <h2>English medium:</h2>
    <p>Tuition fee:  2,400 US $ per year</p>
    <h2>Russian medium: </h2>
    <p>Tuition fee: 1600 US $ per year</p>
    <h2>Dentistry:</h2>
    <p>Tuition fee : 1,600 US $ per year</p>
    <h2>Postgraduate programs:</h2>
    <p>Tuition fee: 1500 US $ per year</p>
    <h2>Accommodation:</h2>
    <p>Government hostel : 200 US $ per year<br />
        Private hostel: 500 US $ per year<br />
        Food: 800 US $ per year<br />
        <br />
    </p>
    <p>However at first time of admission, an admission package is offered to the students which covers:</p>
    <ul class="osh-custom-list">
        <li>Invitation processing fee</li>
        <li>Admission fee</li>
        <li>Tuition fee</li>
        <li>University hostel fee</li>
        <li>One year visa fee</li>
        <li>Equivalence certificate fee (from ministry of education)</li>
        <li>Documents preparation (documents translation and notary certification, medical examination etc.)</li>
    </ul>
    <p>For Postgraduate courses and Preparatory department fee details or any other information, Please contact us at</p>
    <div class="hr"></div>
    <span class="sub-text"><a href="mailto:oshmed@mail.ru" target="_blank">oshmed@mail.ru</a><br />
                                   <a href="mailto:admin@oshmed.com" target="_blank">admin@oshmed.com</a></span>
{% endblock %}
