{% extends "::base.html.twig" %}

{% block title %}Dormitory and Hostels{% endblock %}

{% block header_container_wrap %}
    {{ parent() }}
    <div class="page-title">Hostels</div>
{% endblock %}

{% block content %}
    <div class="h1">Hostel Elina</div>
    <table class="hostels-table">
        <thead>
            <tr>
                <th colspan="2">Floor № 1</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td valign="top">Room <br /> № 1</td>
                <td><div>Name-Priyanshi Pal<br />
                        D/O- Late Chandra kumar Pal<br />
                        D.O.B-11/11/1990<br />
                        Adress-Indiara Nagar colony, Raebarili, UP,India</div>
                    <div>Name-Amita Biswas<br />
                        S/O-Jagdish Biswas<br />
                        D.O.B-20/03/1993<br />
                        Adress-Govindpur, pakhanjore, kanker, chhatisgarh, India</div>
                    <div>Name-Nancy<br />
                        S/O-Suresh Kumar<br />
                        D.O.B-23/08/1998<br />
                        Adress-Una, Himalchal Pradesh, India</div>
                </td>
            </tr>
            <tr>
                <td valign="top">Room <br /> № 2</td>
                <td>
                    <div>Name-Akanksha  Jain<br />
                        S/O-Sanjay Jain<br />
                        D.O.B-21/12/1996<br />
                        Adress-Sham nagar ext, Vishnu Garden, New delhi, India</div>
                    <div>Name- Jyoti Jha<br />
                        S/O-Dinesh Chand Jha<br />
                        D.O.B-29/07/1994<br />
                        Adress-Gurgaon, Haryana (India)</div>
                    <div>Name-Prashansha Singh<br />
                        S/O-Ram Janma Singh<br />
                        D.O.B-01/12/1994<br />
                        Adress-H.No-10, Mau(U.P)</div>
                    <div>Name-Surmai Sarma<br />
                        S/O-Sunil Sharma<br />
                        D.O.B-18/07/1997<br />
                        Adress-Shivam Electronic,hanji(M.P)</div>
                </td>
            </tr>
            <tr>
                <td valign="top">Room <br /> № 4</td>
                <td>
                    <div>Subestri</div>
                    <div>Barithra</div>
                </td>
            </tr>
            <tr>
                <td valign="top">Room <br /> № 5</td>
                <td>
                    <div>Name-R Krishma<br />
                        s/o-R Raj KEnnady<br />
                        D.O.B-<br />
                        Address- karishma BHavan kallam Pottai Edaicode<br />
                        (Kanniyakumari district)</div>
                    <div>Name-J Shamily<br />
                        s/o-Jayaraj T<br />
                        D.O.B-<br />
                        Address-30-33A kamanattu vilai, kodumkulam marthadam TN</div>
                    <div>Name-Uma<br />
                        D/O- R.Nagarai<br />
                        D.O.B-01/06/1996<br />
                        Adress-B.H. road Bangalore, Karnataka</div>
                    <div>Name-Rajnandini Munjankar<br />
                        D/O-Sohamprabhu Munjankar<br />
                        D.O.B-<br />
                        Adress-Gondpipari,  Chandrapur, Maharashtra, India</div>
                    <div>Name-Boidi Bhavani Verma<br />
                        D/O-Boidi Chandra Verma<br />
                        D.O.B-09/10/1997<br />
                        Adress-H no:2-5-77/1, Nizamabad, Telangana, India</div>
                    <div>Name-Veena Priya Anumolu<br />
                        D/O-Srinivasa Rao<br />
                        D.O.B-26/05/1998<br />
                        Adress- Housing board colony, Ankiredipalem, Gutur,<br />
                        Andhra Pradesh, India</div>
                </td>
            </tr>
            <tr>
                <td valign="top">Room <br /> № 6</td>
                <td>
                    <div>Name-Varsha Choudhary<br />
                        S/O-Sangram Singh<br />
                        D.O.B-16/01/1997<br />
                        Adress-Barmer, rajasthan, India</div>
                    <div>Name-Anam Riyaz Mujawar<br />
                        D/O-Riyaz Abdul Raheman Mujawar<br />
                        D.O.B-20/04/1998<br />
                        Adress-Sec-23A/Nerul/ New Mumbai.,India</div>
                    <div>Name-Rukhsarbanu Siddiqui<br />
                        S/O-Yahiya Siddiqui<br />
                        D.O.B-08/06/1996<br />
                        Adress-1/2  Grand Floor, Siddiqui Manzil, Maharashtra(India)</div>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="2">Floor № 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td valign="top">Room <br /> № 7</td>
                <td>
                    <div>Name-Aman Ahamad<br />
                        S/O-Nasir Ali<br />
                        D.O.B-03/07/1994<br />
                        Adress-MAharajganj, UP, India</div>
                    <div>Name-Imran Ali<br />
                        S/O-Ahmad Hasan<br />
                        D.O.B-05/06/1993<br />
                        Adress-Rampur, UP, India</div>
                    <div>Name – Ehtesham Ahmad<br />
                        s/o – Mohammad Haroon<br />
                        D.O.B.- 01.01.1994<br />
                        Adress – Siddharth nagar(UP)</div>
                </td>
            </tr>
            <tr>
                <td valign="top">Room <br /> № 8</td>
                <td>
                    <div>Name-Ramesh Arishkumar<br />
                        S/O-Ramesh<br />
                        D.O.B-12.04.1997<br />
                        Adress-Kattum Annarkol TKcuddalore</div>
                </td>
            </tr>
            <tr>
                <td valign="top">Room <br /> № 9</td>
                <td>
                    <div>Name-Taufique Ahamad<br />
                        S/O-Hazi Mukhtar Ahamad<br />
                        D.O.B-10/02/1995<br />
                        Adress-Izrahta Darbhanga, Bihar, India</div>
                    <div>Name-Rameshwar Sanjay Sonawane<br />
                        S/o-Sanjay Sonawane<br />
                        D.O.B-05/06/1997<br />
                        Address-Distt.Dhule Maharashtra India</div>
                    <div>Name-Mohammad Qaiser Mumtaz<br />
                        S/O-Mohammad Mumtaz Ahamad<br />
                        D.O.B-04/04/1991<br />
                        Adress- Gehanabad, Bihar, India</div>
                    <div>Name-Pranay Kumar<br />
                        S/o-Sunil Sah<br />
                        D.O.B-15/11/1994<br />
                        Address-Rosera Samastipur Bihar India</div>
                </td>
            </tr>
            <tr>
                <td valign="top">Room <br /> № 10</td>
                <td>
                    <div>Name-Abhishek Saini<br />
                        S/O-Udai singh saini<br />
                        D.O.B-25.03.1995<br />
                        Adress-Bijnor, U.P</div>
                    <div>Name-Himansu<br />
                        S/O-Ashok Kumar<br />
                        D.O.B-07.09.1996<br />
                        Adress-AzadPur, Dilhi</div>
                    <div>Name-Zeeshan Asharaf<br />
                        S/O-MD. Zayauddin<br />
                        D.O.B-08.05.1996<br />
                        Adress-Sahi mohalla no1 Kulti,West Bengal</div>
                    <div>Name-MD. Samir<br />
                        S/O-<br />
                        D.O.B-05/06/1986<br />
                        Adress-Parsa,Birgunj(NEPAL)</div>
                </td>
            </tr>
            <tr>
                <td valign="top">Room <br /> № 11</td>
                <td>
                    <div>Mohammad Sameer<br />
                        B.V. Shivaprasad<br />
                        Shaikh. Mohammad Kareemullah<br />
                        PSSS. Jashwanth<br />
                            1. Ishmail Mashach</div>
                </td>
            </tr>
            <tr>
                <td valign="top">Room <br /> № 12</td>
                <td>
                    <div>Name – Naveen Shivhare<br />
                        s/o – Prayag Dutt ShivhareAddress – bivashen road lahar disst. Bhind (MP)</div>
                    <div>Name-  Nazran Ali<br />
                        SO- Mansoor Ali<br />
                        D.O.B-25/12/1995<br />
                        Adress- Village Mahuawa Gopalganj Bihar</div>
                    <div>Name- Vijay Pratap Singh<br />
                        S/O- Ajay Pratap Singh<br />
                        D.O.B-29/06/1995<br />
                        Adress-Deoria,UP,India</div>
                    <div></div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
