{% extends "::base.html.twig" %}

{% block title %}Admissions{% endblock %}

{% block header_container_wrap %}
    {{ parent() }}
    <div class="page-title">Admissions</div>
{% endblock %}

{% block content %}
    <p>Osh State University maintains an open door admissions policy and constantly strives to provide programs beneficial for students. Applicants are considered for admission without regard to race, religion or national origin. Osh State University welcomes application from foreign students. Osh State University is strongly committed to increase opportunities for students, including through and individual consideration of each applicant during the admission process.</p>
    <div class="h1">documents</div>
    <h2>for first year applicants</h2>
    <p>For processing admission into the Medical faculties of  Osh State University the following documents should be sent to the Admissions Office scanned in E-Mail (<a href="mailto:oshmed@mail.ru"  target="_blank">oshmed@mail.ru</a>):</p>
    <ul class="osh-custom-list">
        <li>Copy of first 4 pages of your International passport</li>
        <li>Copy of higher secondary school certificate</li>
        <li>Filled application form</li>
    </ul>
    <h2>For Migration / Credit transfer applicants:</h2>
    <p>Students with Migration / transfer of credit hours are accepted from other Institutions / Universities keeping in view the subjects studied at previous institute and the curriculum at Osh State University. For processing admission into the Medical faculties of Osh State University the following documents should be sent to the Admissions Office scanned in E-Mail (<a href="mailto:oshmed@mail.ru" target="_blank">oshmed@mail.ru</a>):</p>
    <ul class="osh-custom-list">
        <li>Copy of first 4 pages of your International passport.</li>
        <li>Copy of higher secondary school certificate.</li>
        <li>Academic transcripts with detail of subjects studied at previous medical institute.</li>
        <li>Invitation / visa processing fees paid in the name of the Coordinator for foreign students</li>
    </ul>
    <p>According to this information we will process you the invitation letter for student visa approved from the ministry of foreign affairs. Visit our <a href="">official representatives office</a> in your home country.</p>

    <div class="h1">Admission process</div>
    <table class="admission-process">
        <tr>
            <td class="number">STEP 1</td>
            <td class="content">Visit one of our official representative offices or apply documents and email to oshmed@mail.ru. We will reply you with the information about the courses, fee structure and possibility of admission.</td>
        </tr>
        <tr>
            <td class="number">STEP 2</td>
            <td class="content">If you are accepted, Please proceed with the payment of application / invitation processing fee.</td>
        </tr>
        <tr>
            <td class="number">STEP 3</td>
            <td class="content">We will process you invitation letter for visa from the ministry of foreign affairs and scan it to you with the reference number.</td>
        </tr>
        <tr>
            <td class="number">STEP 4</td>
            <td class="content">Apply for visa at Kyrgyz Embassy in your country and get visa issued. If Kyrgyz Embassy does not exist in your country, You will get visa on arrival to Manas International Airport in Kyrgyz Republic.</td>
        </tr>
        <tr>
            <td class="number">STEP 5</td>
            <td class="content">Buy air ticket and inform us about your arrival time, our representative will meet you on airport and make travel arrangements to the university.</td>
        </tr>
        <tr>
            <td class="number">STEP 6</td>
            <td class="content">We will make accomodation arrangements for you, Necessary steps are taken to complete admission process, You can pay your admission package fee and take classes.</td>
        </tr>
    </table>
    <div class="h1">useful links</div>
    <a href="">Travel recommendations</a>
    <br />
    <a href="">Official Representatives</a><br />
    <br />
    <a href="">Tuition / Fee</a><br />
{% endblock %}
