{% extends "::base.html.twig" %}

{% block title %}Message From Dean{% endblock %}

{% block header_container_wrap %}
    {{ parent() }}
    <div class="page-title">Message from dean</div>
{% endblock %}

{% block content %}
    <img src="{{ asset('bundles/osuapp/images/dean.jpg') }}" align="center" />
    <p align="right"><img src="{{ asset('bundles/osuapp/images/icons/quote.svg') }}" width="50" /></p>
    <p>International medical faculty, Osh State University has been built on the excellent traditions established by the Medical faculty, Osh State University. These foundations are supported by our three primary missions, firstly, to provide a first-rate education, secondly, to conduct quality research and thirdly, to contribute to the advancement of the regional health services. We believe in forming a good habit of study for our students, and using a problem-based learning teaching methodology with small class sizes, so that in their practice of medicine they will be capable of grasping any problems they may encounter. Our curriculum is a functional systematic, which aims to present a wide range of views and ideas from the medical world.</p>
    <p>As well as its commitment to education, International medical faculty, Osh State University is dedicated to pursuing quality research in both the basic field of research and the clinical field. In the clinical research field the faculty has paid special attention to establishing prevention and cures for behavioral diseases, cancer, liver disease and especially intractable infectious diseases which have been of most concern to people in the local area. In terms of basic research, the faculty has focused on epidemiological research to support its clinical research projects. This research has primarily looked into contagious diseases, allergies and regenerative processes.</p>
    <p>Osh Interoblast  hospital is the main medical institution in Osh and is committed to excellence. To meet these aims, the hospital is devoted to tackling issues of regional medical importance, the continued training of its medical professionals, the constant enhancement of its emergency medical practices and the continued implementation of the latest medical and technological breakthroughs.</p>
    <p>Regardless of how much we have tried to improve things with focused learning objectives, integrated courses, clinical experiences, and other attempts to make the burden more tolerable, the truth is you need to be prepared for the most difficult educational experience of your life. That said, the fact that you have been accepted to our medical school means that we believe you have what it takes to be successful. Here are some ways you can make that happen.</p>
    <table class="faculty-targets">
        <tr>
            <td class="number">1</td>
            <td class="content"><strong>Go to class</strong>: Although there are some rare exceptions, there is a very close relationship between class attendance and success in medical institution. Even though at times, you may think, your time would be better spent studying on your own, the evidence tells us this is not true for the vast majority of students.  Consider your medical education like a job.  Your pay is your successful grades.  You would not expect to be paid if you did not show up for work would you.  Lastly it is your professional responsibility to be where you are supposed to be when you are supposed to be there.</td>
        </tr>
        <tr>
            <td class="number">2</td>
            <td class="content"><strong>Use the Roadmap to Success</strong>: One of the most difficult things to figure out in medical education is, of all of the information that is thrown at you in your classes, which is the most important? This is often translated by students to “What’s going to be on the test?” The answer to this is; “It’s in the Learning Objectives (LO)”.  Learning objectives are concise statements about the most important information being taught during the class you are attending. Usually there are 3-5 LO for each teaching session.  Every question you will be asked on our internal examinations is directly tied to a learning objective.  Consequently, if you have a solid understanding of the LO for the courses you are taking, you cannot help but succeed.  These learning objectives are found in the course syllabi and should be presented at the start of any teaching session.  They are truly a roadmap to success.</td>
        </tr>
        <tr>
            <td class="number">3</td>
            <td class="content"><strong>See your Faculty Advisor</strong>: Our faculty is comprised of highly skilled, very experienced medical educators, many of whom have been through the very same experience that you are going through.  Their advice is a gold mine for students.  They know better than anyone how to advise you in your bid for successful completion of your medical education.  In medical school, rumors abound.  Your faculty advisor can help you understand what your responsibilities are, and how best to achieve your goals. Do not miss out on this opportunity.</td>
        </tr>
        <tr>
            <td class="number">4</td>
            <td class="content"><strong>Study Hard, Study Often</strong>: Successful medical students do not wait until the week before examinations to begin studying. The quantity of information, and the level of understanding needed to get good grades in medical school make the concept of cramming a recipe for failure.  Good students describe a consistent regimen of going to class, reading assignments and studying for understanding, not simply memorization.  A common mistake we see is students using review books or test question banks as their primary source of learning.  Review books, and test questions can be useful for reviewing already learned material, and testing your understanding, but will not work as a primary learning tool.</td>
        </tr>
    </table>
    <p>Well, if you find all of the above Do’s and Don’ts daunting, that would be normal.  Despite the difficulty and rigor of medical education, it is an exciting and wonderful experience.  I think back to my medical school experience with a great deal of nostalgia.  There will never be another time in your life where your single responsibility will be to learn as much as you can.  Take every advantage of it.  It will payoff like nothing else you have experienced.  We in the International  medical faculty, Osh state university look forward to helping you along the way and watching your development into the physician that you have dreamed of becoming.</p>
    <p>Yours Sincerely,<br />
        Dr. Kalmatov Roman Kalmatovich<br />
        Candidate of Medical Sciences<br />
        Dean  of International Medical Faculty<br />
        Osh State University</p>
{% endblock %}
