{% extends "::base.html.twig" %}

{% block title %}News{% endblock %}

{% block header_container_wrap %}
    {{ parent() }}
    <div class="page-title">News</div>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <hr />
        <p>{{ post.content|slice(0, 100) }}</p>
        <p class="new-item-date">{{ post.date|date('Y-m-d') }}</p>
        <p><a href="{{ path('post', {id: post.id}) }}">Read more...</a></p>
        <hr />
        <p>&nbsp;<br /></p>
    {% endfor %}
{% endblock %}
