{% extends "::base.html.twig" %}

{% block title %}News{% endblock %}

{% block header_container_wrap %}
    <img src="{{ asset('bundles/osuapp/images/News.png') }}" />
    <div class="page-title">Latest News</div>
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <div class="post-date">{{ post.date|date('Y-m-d') }}</div>
    <p>{{ post.content }}</p>
{% endblock %}
