{% extends "::base.html.twig" %}

{% block title %}International Relationship{% endblock %}

{% block header_container_wrap %}
    {{ parent() }}
    <div class="page-title">Relationship</div>
{% endblock %}

{% block content %}
    <div class="h1">Turkey</div>
    <img src="{{ asset('bundles/osuapp/images/Turkey-Relationship.png') }}" />
{% endblock %}
