{% extends "::base.html.twig" %}

{% block title %}Travel Recommendation{% endblock %}

{% block header_container_wrap %}
    {{ parent() }}
    <div class="page-title">Travel Recommendation</div>
{% endblock %}

{% block content %}
    <div class="h1">Recommended airlines for students travelling from India:</div>
    <p>&nbsp;</p>
    <table class="faculty-targets">
        <tr>
            <td class="number">1</td>
            <td class="content">Pegasus air</td>
        </tr>
        <tr>
            <td class="number">2</td>
            <td class="content">New Dehli – Bishkek – Osh ( <a href="http://www.flypgs.com/en/">http://www.flypgs.com/en/</a> )</td>
        </tr>
        <tr>
            <td class="number">3</td>
            <td class="content"><a href="http://airastana.com/" target="_blank">Air Astana</a></td>
        </tr>
        <tr>
            <td class="number">4</td>
            <td class="content"><a href="ttps://www.uzairways.com/en">Uzbekistan Airways</a></td>
        </tr>
    </table>
    <div class="h1">Recommended airlines for students travelling from Pakistan:</div>
    <p>&nbsp;</p>
    <table class="faculty-targets">
        <tr>
            <td class="number">1</td>
            <td class="content">Islamabad/Lahore/Karachi – Istanbul – Osh</td>
        </tr>
        <tr>
            <td class="number">2</td>
            <td class="content"><a href="http://www.turkishairlines.com/" target="_blank">Turkish airlines</a></td>
        </tr>
        <tr>
            <td class="number">3</td>
            <td class="content">Sialkot/Multan/Karachi – Dubai – Bishkek</td>
        </tr>
        <tr>
            <td class="number">4</td>
            <td class="content"><a href="http://flydubai.com/" target="_blank">FlyDubai airlines</a></td>
        </tr>
    </table>
    <h2>Travelling from any other country?</h2>
    <p>Turkish airlines have flights to Osh International airport connecting through Istanbul.</p>

    <div class="h1">Domestic airlines:</div>
    <p>&nbsp;</p>
    <table class="faculty-targets">
        <tr>
            <td class="number">1</td>
            <td class="content">Bishkek – Osh</td>
        </tr>
        <tr>
            <td class="number">2</td>
            <td class="content"><a href="http://www.flypgs.com/en/" target="_blank">Pegasus airlines</a></td>
        </tr>
        <tr>
            <td class="number">3</td>
            <td class="content"><a href="http://air.kg/" target="_blank">Air Kyrgyzstan</a></td>
        </tr>
        <tr>
            <td class="number">4</td>
            <td class="content"><a href="http://aero.kg/" target="_blank">Avia Traffic</a></td>
        </tr>
        <tr>
            <td class="number">5</td>
            <td class="content"><a href="http://www.airbishkek.kg/en/" target="_blank">Air Bishkek</a></td>
        </tr>
        <tr>
            <td class="number">6</td>
            <td class="content"><a href="http://tezjet.kg/" target="_blank">Tez Jet</a></td>
        </tr>
    </table>
{% endblock %}
