{% extends "::base.html.twig" %}

{% block title %}History of Osh State University{% endblock %}

{% block header_container_wrap %}
    {{ parent() }}
    <div class="page-title">History</div>
{% endblock %}

{% block content %}
    <h1>History of Osh State University</h1>
    <p>Osh State University was founded on 24 May 1951 as Osh State Pedagogical Institute.It achieved status of the University on 17 june 1992.The city of Osh provides a unique setting for the urban campus of OshSU. At the heart of this picturesque city lies the OshSU administrative campus, with the remaining departments located throughout the city.OshSU is the leading educationl, cultural and scientific center of southern Kyrgyzstan.The faculties of the University prepare specialists to respond to all the region’s needs. The University sows the seeds of science and domocracy that will bloom throughout the country.</p>
    <div class="h1">Today, Osh State University in figures.</div>
    <table class="admission-process">
        <tr>
            <td class="number">Students</td>
            <td class="content">41,000</td>
        </tr>
        <tr>
            <td class="number">Teachers</td>
            <td class="content">2502</td>
        </tr>
        <tr>
            <td class="number">Faculties</td>
            <td class="content">20</td>
        </tr>
        <tr>
            <td class="number">Institutes</td>
            <td class="content">9</td>
        </tr>
        <tr>
            <td class="number">Educational,Scientific Research Institutes</td>
            <td class="content">18</td>
        </tr>
        <tr>
            <td class="number">Educational Campus</td>
            <td class="content">23</td>
        </tr>
        <tr>
            <td class="number">Hostels</td>
            <td class="content">9</td>
        </tr>
    </table>
{% endblock %}
