{% extends "::base.html.twig" %}

{% block title %}Message form the Rector{% endblock %}

{% block header_container_wrap %}
    {{ parent() }}
    <div class="page-title">Rector</div>
{% endblock %}

{% block content %}
    <img src="{{ asset('bundles/osuapp/images/rector.jpg') }}" style="float: right;" />
    <h1>Message from the Rector</h1>
    <p>Dear Contemporaries.</p>
    <p>The world is becoming increasingly complicated now a days and it requires an individual to possess high level of education and skills.Entering a higher education institution is typically considered as a tool of getting a promotion and high profits.However Education is much more than preparation for creer.Good eucation enriches one’s life.and improves one’s understanding of the world.It also enables to learn to evaluate it critically.making positive changes.</p>
    <p>Now a days kyrgyzstan takes the leading part in the area of education among Central Asian Republics.Osh State University being a leader of higher education in the southern kyrgyzstan,meets the new challenges of the time.It’s the only university in kyrgyzstan that trains students not only in pedagogic specialities but also in Medicine,Law,Theology,Music,Fine Arts,Agriculture and Social Work.There are many options open to you.</p>
    <p>Osh State University has sufficient innovative potential for effective introduction of new teaching technology into academic process.To integrate the world educational<br />
        community,Osh State University develops international cooperation with more than 30 educational and research institutions abroad.The university is a participant of various international programmes.</p>
    <p>Numerous employees of our university are ready to serve you providing with our immense intellectual and material resources.We welcome everybody who seek for developing the potential of a free individual with democratic values.</p>

    <div class="hr"></div>
    <span class="sub-text">Professor Dr.Isakov K.A.</span><br />
    <span class="sub-text">Rector</span>
{% endblock %}
