{% extends "::base.html.twig" %}

{% block title %}Offical Representatives{% endblock %}

{% block header_container_wrap %}
    {{ parent() }}
    <div class="page-title">REPRESENTATIVES</div>
{% endblock %}

{% block content %}
    <p>REPRESENTATIVES IN INDIA</p>
    <div class="h1">LUCKHNOW</div>
    <h1>SATYAMEV EDUCATIONAL SERVICES</h1>
    <p>Aman Panday <br />
        Contact #  +91 9792410586</p>

    <h1>EXCEL CARRER ACADEMY</h1>
    <p>Vinay Mishra <br />
        Contact #   +91 9335925205  +91 9044038928-29</p>

    <div class="h1">PATNA</div>
    <h1>SUJEET KUMAR SINHA</h1>
    <p>305, 1rc/13, Maa geeta complex, M.G.Nagar kankarbagh Patna-800026 Bihar, India<br />
        Contact #  91(0612-2344110) 919955870003  </p>

    <div class="h1">NEW DEHLI</div>
    <h1>TRIVENI ADMISSION CONSULTANCY</h1>
    <p>DR. TARIQ <br />
        Contact #  +91 9958420754   +91 9818259550</p>
{% endblock %}
